#root {
  /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
  min-height: 100vh;
  /* Habilita Flexbox */
  /* display: flex; */
  /* Alinea los hijos verticalmente */
  /* flex-direction: column; */

  /* Esto hace que el contenido principal ocupe todo el espacio disponible */
  flex-grow: 1;
}
